body{
    background-color: antiquewhite;
}

h1, h2{
    text-align: center;
}

p{
    text-align: center;
}

/* Style général de la barre de navigation */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centre les boutons */
    background-color: #f2f2f2; /* Change la couleur de fond */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet d'élévation */
}

/* Style des boutons */
button {
    background-color: #4CAF50; /* Couleur de fond des boutons */
    border: none; /* Retire les bordures */
    color: white; /* Couleur du texte */
    padding: 12px 24px; /* Espacement interne */
    margin: 0 5px; /* Espacement entre les boutons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; /* Arrondit les coins */
    transition: background-color 0.3s ease; /* Effet de transition pour le survol */
}

button a {
    color: white; /* Assure que les liens sont blancs */
    text-decoration: none; /* Retire le soulignement */
}

button:hover {
    background-color: #45a049; /* Change la couleur de fond au survol */
}
