<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="PageAccueil.css">
    </head>
    <body>
        <ul>
            <button id = "btn1"><a href = "file:///C:/Users/benja/OneDrive/Bureau/Inf5%20-%20web/Filmoteca/Page%20accueil.html"> Accueil </a></button>
            <button id = "btn2"><a href = "file:///C:/Users/benja/OneDrive/Bureau/Inf5%20-%20web/Filmoteca/Page%20film.html"> Liste des films </a></button>
            <button id = "btn3"><a href = "file:///C:/Users/benja/OneDrive/Bureau/Inf5%20-%20web/Filmoteca/Page%20ajout.html"> Ajout d'un film </a></button>
            <button id = "btn4"><a href = "file:///C:/Users/benja/OneDrive/Bureau/Inf5%20-%20web/Filmoteca/Page%20avis.html"> Avis </a></button>
        </ul>
        <br>
        <h1> Filmoteca </h1>
        <h2> Collection de films</h2>
        <br>
        <p> Bienvenue sur Filmoteca, une page dédiée à notre collection de films</p>
    </body>
</html>